
div li{
 margin-left: 2em;
}

.noborder{
 border: none;
}

/*header{
 position: fixed;
 top: 1px;
 width: 100vw;
 height: 10vh;
 z-index: 9999;
 opacity: 1;
 background: lightgrey;
}*/

#header{
 background: lightgrey;
 width: 100vw;
 height: 10vh;
}

#header h1{
 text-align: center;
}


#main{
 width: 100vw;
}

#generalOutput{
 height: 90vh;

 margin: 0 auto;
 padding-top: 2%;
 width: 96%;
}

#generalOutput img{
 width: 100%;
 height: 40vh;
}

#generalOutput textarea{
 width: 100%;
 height: 29vh;
 border: none;
}

.details p{
 display: none;
}

.details:hover p{
 display: block;
}

.details textarea{
 display: none;
}

.details:hover textarea{
 display: block;
}


.blue{
 color: blue;
}

nav button{
 border: none;
 background-color: transparent;
}

nav p{
 padding-left: 1em;
}

#MediaDialog{
 padding-left: 3em;
 width: 50%;
}

#MediaDialog h4{
 width: 30%;
 display: inline-block;
}

#MediaDialog span{
 width: 70%;
}

#MediaDialog textarea:hover{
 height: 4em; 
}

#MediaDialog textarea{
 height: 1em; 
}

#MediaDialog p{
 margin: 0.5em;
}